@font-face {
    font-family: "source_sans_prolight";
    font-style: normal;
    font-weight: normal;
    src: url("https://eu.static.mega.co.nz/3/fonts/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"), url("https://eu.static.mega.co.nz/3/fonts/SourceSansPro-Light.woff2") format("woff2"), url("https://eu.static.mega.co.nz/3/fonts/SourceSansPro-Light.woff") format("woff"), url("https://eu.static.mega.co.nz/3/fonts/SourceSansPro-Light.ttf") format("truetype"), url("https://eu.static.mega.co.nz/3/fonts/SourceSansPro-Light.svg#source_sans_prolight") format("svg");
}
.header {
    margin: 5px;
}

.header1 {
    margin-left: 20px;
}

.header2 {
    color: gray;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: medium;

}

.distanceFromTopLeftPanel {
    margin-top: 7px;
}

.cellFormat {
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.headerFloorSelectionWidget {
    margin-top: 35px;
    margin-left: 20px;
    font-size: medium;
}

.headerFontWidget {
    font-size: medium;
    margin-top: 10px;
}

.headerFontWidget2 {
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
    color: #666666;
    display: inline;
}

.headerFontWidget3 {
    margin-top: 10px;
    color: #333333;
    font-family: "source_sans_prolight";
    font-size: 32px;

}

.containterDistance {
    margin-top: 10px;
}

.FontWidgetLarge {
    tab-size: 200;

}

.headerFontWidgetMarginLeft {
    margin-left: 20px;
    font-size: medium;
    vertical-align: top;
}
.headerFind{
    margin-left: 50px;
}
.searchPanel{
    position: absolute;
    top: 15px;
    right: 6px;
}


