/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.redText {
    font-family: Arial, Sans-serif;
    color: #FF0000;
    font-size: 11px;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}
