<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <servlet>
        <servlet-name>com.auleSVGWT.AuleSVGWT AuleSVGWTService</servlet-name>
        <servlet-class>com.auleSVGWT.server.AuleSVGWTServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.auleSVGWT.AuleSVGWT AuleSVGWTService</servlet-name>
        <url-pattern>/AuleSVGWT/AuleSVGWTService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>initialSer</servlet-name>
        <servlet-class>com.auleSVGWT.server.AndroidStartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>initialSer</servlet-name>
        <url-pattern>/Android/startActivity</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>image</servlet-name>
        <servlet-class>com.auleSVGWT.server.AndroidImageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/Android/immagine/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>personInRoom</servlet-name>
        <servlet-class>com.auleSVGWT.server.AndroidPersonRoomServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>personInRoom</servlet-name>
        <url-pattern>/Android/personeStanza</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>floorRooms</servlet-name>
        <servlet-class>com.auleSVGWT.server.AndroidFloorRoomsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>floorRooms</servlet-name>
        <url-pattern>/Android/stanze</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>searchPerson</servlet-name>
        <servlet-class>com.auleSVGWT.server.AndroidSearchPersonServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>searchPerson</servlet-name>
        <url-pattern>/Android/cercaPersona</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>queryMap</servlet-name>
        <servlet-class>com.auleSVGWT.server.AndroidFloorOccuAndContracts</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>queryMap</servlet-name>
        <url-pattern>/Android/auleLavoroOccupazione</url-pattern>
    </servlet-mapping>


















    <servlet>
        <servlet-name>people</servlet-name>
        <servlet-class>com.auleSVGWT.server.AndroidPeopleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>people</servlet-name>
        <url-pattern>/Android/persone/*</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>rooms</servlet-name>
        <servlet-class>com.auleSVGWT.server.AndroidRoomServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>rooms</servlet-name>
        <url-pattern>/Android/stanzee/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>floorRoomlist</servlet-name>
        <servlet-class>com.auleSVGWT.server.AndroidFloorRoomsListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>floorRoomlist</servlet-name>
        <url-pattern>/Android/listaStanzePiano/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>buildingList</servlet-name>
        <servlet-class>com.auleSVGWT.server.AndroidBuildingsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>buildingList</servlet-name>
        <url-pattern>/Android/listaEdifici</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>beginning</servlet-name>
        <servlet-class>com.auleSVGWT.server.AndroidStart</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>beginning</servlet-name>
        <url-pattern>/Android</url-pattern>
    </servlet-mapping>

</web-app>
