<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <servlet>
        <servlet-name>com.auleSVGWT.AuleSVGWT AuleSVGWTService</servlet-name>
        <servlet-class>com.auleSVGWT.server.AuleSVGWTServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.auleSVGWT.AuleSVGWT AuleSVGWTService</servlet-name>
        <url-pattern>/AuleSVGWT/AuleSVGWTService</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.auleSVGWT.server.JaxApplication</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/Android/*</url-pattern>
    </servlet-mapping>

</web-app>
